.element__like {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like.svg);
    border: 0;
    background-color: transparent;
    transition: opacity 0.5s ease 0.1s;
    cursor: pointer;
    outline: none;
}

.element__like:hover {
    opacity: 0.5;
}