.header__logo {
    padding-bottom: 41px;
    background-image: url(../../../images/logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 142px;
    height: 33px;
}

@media screen and (max-width: 768px) {
    .header__logo {
        width: 103.74px; 
        height: 24.4px;
        padding-bottom: 31.6px;        
    }   
}