.popup__closeicon {
    position: absolute;
    width: 56.56px;
    height: 56.56px;
    right: -48.28px;
    top: -48.28px;
    transition: opacity 0.5s ease 0.1s;
    cursor: pointer;
}

.popup__closeicon:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .popup__closeicon {
        width: 36.76px;
        height: 36.76px;
        top: -50.38px;
        right: 0;     
    }   
}