.photo-view__closebutton {
    position: absolute;
    width: 56.56px;
    height: 56.56px;
    right: -48.28px;
    top: -48.28px;
    transition: opacity 0.5s ease 0.1s;
    cursor: pointer;
    z-index: 1;
    background-image: url(../../../images/CloseIcon.svg);
    background-color: transparent;
    border: 0;
    outline: none;
    background-position: center;
    background-size: 100%;
}

.photo-view__closebutton:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .photo-view__closebutton {
        width: 36.76px;
        height: 36.76px;
        top: -50.38px;
        right: 0;     
    }   
}
}